<div class="img-circle">
	<%#= render 'layouts/header',id: "logo"%>
</div>
<div align="center">

<h1>Interview Tools</h1>
    <div class="">
    	<%= link_to "Sign in", signin_path, :class => 'btn btn-success btn-lg' %>
    </div>
</div>   