<h1>Sample App</h1>
<p>
  This is the home page 
</p>

 <% if signed_in? && current_user.role=='sadmin' %>
      <%= logger.debug current_user.role%>
      <h1>Welcome super admin</h1>
 <% elsif signed_in? && current_user.role=='admin'%>
      <h1>Welcome Admin</h1>
 <% elsif  signed_in? && current_user.role=='user'%>
      <h1>Welcome User</h1>
      <%= logger.debug @current_user%>
  <%else%>
      <%= link_to "Sign In", signin_path %>
 <%end%> 
 <%= link_to "Sign Out", signin_path %>
   
