
<li><%= link_to "Add New Category", new_category_path , :class => 'btn btn-success btn-lg'%></li>

<h1 align="center">Category List</h1>

<table class="table">

<tr>

<th>Category Id</th>

<th>Category</th>

 <% @category.each do |c| %>

 <tr>

<td><%=c.id%></td>

<td><%=c.category_name%></td>

</tr>
<%end%>


