<% if current_user.role== "sadmin" %>
	<h1>Superadmin</h1>
	<%= link_to 'Create', admin_users_new_path , :class => 'btn btn-success btn-lg'%>
<% end %>

<%= link_to "Add New Category", :controller => "category", :action => "new" ,:class =>'btn btn-success btn-lg'%>
<%= link_to 'Add Sub Category', :controller => "subcategory", :action => "new" , :class => 'btn btn-success btn-lg'%>
<%= link_to 'View All Useres', admin_users_path , :class => 'btn btn-success btn-lg'%>

