
<div class="row">
  <aside class="span4">
    <section>
      
    <% @user.each do |u| %>
  <p>
    <strong>User:</strong>
    <%= u.name %>
 <%= link_to 'Edit', edit_admin_path(u)%> 
 <%= link_to 'Delete', admin_path(u),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
  <%end%>      
     
    </section>
  </aside>
</div>