
<div class="row">
  <aside class="span4">
    <section>
      
    <% @user.each do |u| %>
  <p>
    <strong>User:</strong>
    <%= u.name %>
  </p>
  <%end%>      
     
    </section>
  </aside>
</div>