<div style="float:right;margin-right:30px;">
	<%= link_to "Add New Category", new_subcategory_path , :class => 'btn btn-success btn-lg'%>
</div>
<br/>
<div>
<h1 align="center">Category List</h1>
<div class="table-responsive">
  <table class="table table-bordered table table-hover table table-striped tablewidth">
	<tr>
		<th>Category Id</th>
		<th>Category Name</th>
		<th>Parent</th>
 		<% @subcategory.each do |c| %>
 	<tr>
		<td><%=c.id%></td>
		<td><%=c.subcategory_name%></td>
		<td><%=c.parent%></td>
	</tr>
<%end%>
</table>
</div>
</div>
